<html lang = "en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Simple CMS | <%= @page_title || 'Admin Area' %></title>
	<meta name="creator" content="Lakshit Bhutani">
	<%= stylesheet_link_tag('public' , 'admin' , :media => 'all') %>
	<%= javascript_include_tag('test') %>
</head>
<body>

	<div id="header">
      <h1>Simple CMS Admin</h1>
    </div>

    Server Time : <%= Time.now.to_s(:custom) %>	

<div id="main">
      <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <% end %>

	<div id ="content">
	<%= yield %>
	</div>
</div>

	<div id = "footer">
		&copy; Lakshit Bhutani	
	</div>	

</body>
</html>